* {
  /* box-sizing: border-box; */
}

:root {
  --size: 15px;
  --big-box-width: 500px;
  --big-box-height: 300px;
  --big-box-margin: 20px;
  --big-box-font-size: 20px;
}

body {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
}

#App {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  /* flex-direction: row; */
}

#navbar {
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 20px;
  width: 200px;
  height: 90vh;
}

#navbar ul {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

#navbar ul li {
  margin: 10px;
  /* padding: 0; */
}

#navbar ul li>a {
  display: block;
  text-decoration: none;
  color: #A883BA;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
}

#navbar ul li>a.active {
  background-color: #A883BA;
  box-shadow: 0 0 3px 0 black;
  color: white;
}

.playground {
  background-color: #FEFEDF;
  position: relative;
  border: 3px solid #A883BA;
  box-shadow: 0 0 5px 0 #A883BA;
  border-radius: 50px;
  padding: 30px;
  margin: 10px auto;
  width: 70vw;
  height: 80vh
}

#hand-box {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px solid black;
  display: inline-block;
}

.notes li {
  font-size: 18px;
  margin-bottom: 10px;
  color: green
}

#keyboard {
  margin: 0 auto;
  background-color: transparent;
  width: max-content;
}

.absolute-center {
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px
}

.row {
  display: flex;
  justify-content: space-between;
}

.space-between {
  height: var(--big-box-height);
  margin: var(--big-box-margin);
}

.key {
  color: black;
  display: inline-block;
  border: 1px solid grey;
  box-shadow: 0 0 1px 0 grey;
  height: var(--size);
  padding: 10px;
  margin: 3px;
  border-radius: .3rem;
}

.key.key-square {
  width: var(--size);
  font-size: 18px;
  text-align: center;
}

.key-broad {
  width: calc(var(--size) * 4);
  /* min-width: ; */
  background-color: #D5CABD;
}

.key.key-broader {
  width: calc(var(--size) * 6)
}

.key.key-broadest {
  width: calc(var(--size) * 8);
}

.key.key-spacebar {
  width: calc(var(--size) * 20);
  text-align: center;
  background-color: #D3FBD8;
  /* min-width: calc(var(--size) * 7) */
}

.ll,
.rl {
  background-color: #a8e6cf;
}


.lr,
.rr {
  background: #fdffab;
}

.lm,
.rm {
  background: #ffd3b6;
}

.lf {
  background: #ffaaa5;

}

.rf {
  background-color: #CBCCFF;
}

.wrong-key {
  background-color: red;
}

.hint-key {
  background-color: #A883BA !important;
}

.key-pressed {
  background-color: #B9AA87 !important;
}

.char-box {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  vertical-align: center;
  border: 1px solid black;
  padding: 5px;
  margin: 3px;
  font-size: 25px;
  color: black;
  font-weight: bold;
  background-color: #D3FBD8;
}

.space-box {
  box-sizing: border-box;
  border: 2px solid grey;
  font-size: 11px;
  padding: 1px 5px;
  margin: 3px
}

.current-box {
  background-color: #A883BA;
}

.d-none {
  display: none;
}

.correct-border {
  background-color: white;
  border: 2px solid green;
}

.wrong-border {
  background-color: white;
  border: 2px solid red
}

#lesson {
  margin: 50px auto;
}

#question-box,
#response-box {
  width: var(--big-box-width);
  height: var(--big-box-height);
  /* margin: var(--big-box-margin); */
  font-size: var(--big-box-font-size);
  font-family: consolas;
  --wekit-user-select: none;
  --moz-user-select: none;
  user-select: none;
  border: 1px solid black;
  border-radius: .5rem;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 5px;

}

#question-box {
  display: inline-block;
  background-color: #D3FBD8;
  word-wrap: normal;
  letter-spacing: .5px;
}

#response-box {
  outline: none;
  resize: none;
}

.word {
  margin-right: 9px;
  display: inline-block;
}


.wrong-word {
  color: #f33;
  text-decoration: line-through;
  font-weight: bold;

}

.current-word {
  color: #A883BA;
  font-weight: bold;
  text-decoration: underline;
}

.modal-confirmation {
  border: 2px solid wheat;
  background-color: white;
  color: #A883BA;
  border-radius: 5px;
  padding: 30px;
  margin: 30px;
  font-size: 40px;
  text-align: center;
  z-index: 50;
}