:root {
  font-size: 15px;
  /* --size: 2em; */
  --keyboard-font-size: 16px;
  --input-box-font-size: 20px;
  --tetris-box-width: 300px;
  --tetris-box-height: 250px;
}

#mobile {
  display: none;
}

body {
  margin: 0;
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: center;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  /* min-width: 320px; */
  min-height: 100vh;
}

h1 {
  font-size: 2.7em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.text-center {
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
}

#App {
  /* display: grid; */
  /* grid-template-columns: 5fr 1fr; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

#navbar {
  border-bottom: none;
  margin: 0;
  width: max-content;
  z-index: 2;
  position: relative;
}

#navbar::before {
  content: "";
  position: absolute;
  /* width: 39em; */
  width: 105%;
  height: 4.7em;
  top: -1.2em;
  left: -1.2em;
  z-index: -2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transform: perspective(50em) rotateX(-30deg);
  transform: perspective(50em) rotateX(50deg);
  background-color: #A883BA;
  box-shadow: 0 0 10px 0 #A883BA;
}

#navbar ul {
  transition: all 1s;
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

#navbar ul li {
  box-sizing: border-box;
  margin: 0;
  z-index: 3;
}

#navbar ul li>a {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  border-right: 1px solid white;
  color: white;
  margin: 0;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
}

/* #navbar ul li>a::after {
    content: "";
    height: 5px;
    border-right: 2px solid black;
  } */

#navbar ul li:last-child>a {
  border-right: none;
}

#navbar ul li>a.active {
  box-sizing: border-box;
  background-color: #FEFEDF;
  box-shadow: 0 0 3px 0 #FEFEDF;
  color: #A883BA;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 5px;
}

.playground {
  background-color: #FEFEDF;
  position: relative;
  border: 5px solid #A883BA;
  box-shadow: 0 0 5px 0 #A883BA;
  border-radius: 50px;
  padding: 30px;
  margin: 0 10px;
  /* margin: 0 auto; */
  width: 70em;
  min-height: 40em;
  /* height: 80vh */
  transition: .3s;
}

.space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-heading {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-size: 2em;
  color: burlywood;
  margin: 0 auto;
  margin-bottom: 1em;
}

.menu-item {
  position: relative;
  display: block;
  background-color: white;
  color: #A883BA;
  border: 1px solid #B9AA87;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}

.menu-item:hover {
  box-shadow: 0 0 5px 0 #B9AA87;
  color: #A883BA;
}

.menu-item-title {
  font-size: 1.5em;
  margin: .4em;
}

.menu-item-duration {
  color: #B9AA87;
  font-size: .8em;
  display: inline-block;
  margin: 0 1em;
}

.lesson-video {
  border: 5px solid #B9AA87;
  border-radius: 5px;
}

.lesson-item {
  margin: 4em 4em 0;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  color: #A883BA;
  border: 1px solid #A883BA;
  background-color: white;
}

.lesson-item:hover {
  background-color: #A883BA;
  box-shadow: 0 0 5px 0 #A883BA;
  color: white
}

.hand-box {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 154px;
  overflow: hidden;
  border: 1px solid black;
}

.hand-image {
  position: relative;

}

.finger-lf,
.finger-rf {
  top: -154px;
}

.finger-lm,
.finger-rm {
  top: calc(-154px * 2);
}

.finger-lr,
.finger-rr {
  top: calc(-154px * 3);
}

.finger-ll,
.finger-rl {
  top: calc(-154px * 4);
}

.finger-lt,
.finger-rt {
  top: calc(-154px * 5);
}

.notes li {
  font-size: 18px;
  margin-bottom: 10px;
  color: green
}

#keyboard {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: transparent;
  /* width: 400px; */
  font-size: var(--keyboard-font-size);
  transition: .3s;
}

.absolute-center {
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px
}

.row {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-flex-center {
  display: flex;
  justify-content: space-evenly;
}

.key-row {
  display: flex;
}

.key {
  box-sizing: border-box;
  color: black;
  display: inline-block;
  border: 1px solid grey;
  box-shadow: 0 0 1px 0 grey;
  height: 2em;
  padding: .3em;
  margin: .1em;
  border-radius: .3em;
  white-space: nowrap;
  /* display: flex; */
}

.key.key-square {
  width: max-content;
  text-align: center;
  flex: 1;
}

.backslash-key,
.key-special {
  display: flex;
  align-items: center;
  height: 92%;
  flex: 3;
}

.key-special {
  font-size: .7em;
}

.key-broad {
  /* width: calc(var(--size)); */
  background-color: #D5CABD;
}

.key.key-spacebar {
  padding: .4em 2em;
  width: 30em;
  text-align: center;
  background-color: #D3FBD8;
  font-size: .8em;
  height: 92%;
  flex: 10
    /* min-width: calc(var(--size) * 7) */
}

.ll,
.rl {
  background-color: #a8e6cf;
}


.lr,
.rr {
  background: #fdffab;
}

.lm,
.rm {
  background: #ffd3b6;
}

.lf {
  background: #ffaaa5;

}

.rf {
  background-color: #CBCCFF;
}

.wrong-key {
  background-color: red;
}

.hint-key {
  background-color: #A883BA !important;
}

.key-pressed {
  background-color: #B9AA87 !important;
}

.char-box {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  vertical-align: center;
  border: 1px solid black;
  padding: 5px;
  margin: 3px;
  font-size: 25px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #D3FBD8;
}

.space-box {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  border: 2px solid grey;
  font-size: 11px;
  padding: 1px 5px;
  margin: 3px
}

.current-box {
  background-color: #A883BA;
}

.d-none {
  display: none;
}

.correct-border {
  background-color: white;
  border: 2px solid green;
}

.wrong-border {
  background-color: white;
  border: 2px solid red
}

#lesson {
  margin: 50px auto;
}

#question-box,
#response-box {
  font-size: var(--input-box-font-size);
  flex: 1;
  min-width: 200px;
  margin: .4em;
  height: 16em;
  max-height: 300px;
  font-family: consolas;
  --wekit-user-select: none;
  --moz-user-select: none;
  user-select: none;
  border: 1px solid black;
  border-radius: .5rem;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 5px;

}

#question-box {
  display: inline-block;
  background-color: #D3FBD8;
  word-wrap: normal;
  letter-spacing: .5px;
}

#response-box {
  outline: none;
  resize: none;
}

.word {
  margin-right: 9px;
  display: inline-block;
}


.wrong-word {
  color: #f33;
  text-decoration: line-through;
  font-weight: bold;

}

.current-word {
  color: #A883BA;
  font-weight: bold;
  text-decoration: underline;
}

.modal-confirmation {
  border: 2px solid wheat;
  background-color: white;
  color: #A883BA;
  border-radius: 5px;
  padding: 30px;
  margin: 30px;
  font-size: 40px;
  text-align: center;
  z-index: 50;
}


.key-shape {
  width: 30px;
  text-align: center;
  margin: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.difficult-keys {
  border: 1px solid wheat;
  padding: 5px;
  border-radius: 15px;
  min-width: 400px;
  margin: 30px;
  background-color: white;
}

.result-subheading {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 10px;
  margin-top: 0
}

.color-primary {
  color: #A883BA;
}

.m-0 {
  margin: 10px
}

/* GAME DESIGN */
.tetris-game-panel {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: space-around;
  /* justify-content: center; */
  /* height: 100%; */
}

.tetris-box {
  display: inline-block;
  position: relative;
  top: 100px;
  width: var(--tetris-box-width);
  height: var(--tetris-box-height);
  /* background-color: red; */
  border: 30px solid goldenrod;
  border-top: none;
  border-radius: 10px;
  bottom: 200px;
}

.tetris-word {
  position: absolute;
  bottom: 40px;
  display: inline-block;
  box-sizing: border-box;
  width: var(--tetris-box-width);
  background-color: lightskyblue;
  border-radius: .3em;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  max-height: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid blanchedalmond
}

.tetris-word-missed {
  background-color: grey;

}

.tetris-char {
  margin: 1px;
}

.center {
  margin: 0 auto;
}

.score-board {
  display: inline-block;
  width: max-content;
  height: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 auto;
  border: 2px solid #A883BA;
  background-color: #A883BA;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 10px
}

.text-white {
  color: white;
}

.text-success {
  color: green
}

.btn {
  background-color: #A883BA;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  width: max-content;
}

.btn:hover {
  background-color: #9772A9;
  color: white
}


@media only screen and (max-width: 768px) {
  #App {
    display: none !important;
  }

  #mobile {
    background-color: #FEFEDF;
    padding: 20px;
    margin: 10px;
    border: 2px solid wheat;
    display: block !important;
    text-align: center;
    color: #A883BA;
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .playground {
    max-width: 48em;
    --keyboard-font-size: 10px;
    --input-box-font-size: 17px
  }

  .hand-box {
    transform: translateY(-15px) scale(.8);
  }
}

@media only screen and (min-width: 800px) {
  .playground {
    max-width: 50em;
    --keyboard-font-size: 11px;
    --input-box-font-size: 17px
  }

  .hand-box {
    transform: translateY(-15px) scale(.8);
  }
}

@media only screen and (min-width: 980px) {
  .playground {
    max-width: 60em;
    --keyboard-font-size: 13px
  }

  .hand-box {
    transform: translateY(0) scale(1);
  }
}

@media only screen and (min-width: 1200px) {
  .playground {
    max-width: 80em;
    --keyboard-font-size: 16px
  }


  .hand-box {
    transform: translateY(0) scale(1);
  }
}